# Don't need to see those!
<FilesMatch "(items.php|definition.php|LICENSE|README.md)">
	Order allow,deny
	Deny from all
	Satisfy All
</FilesMatch>

Options +FollowSymlinks

# Redirect version-specific requests (old feature) to current
RewriteEngine on
RewriteRule "^0.[1-3]/?$" "./" [QSA]
